.container {
    display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: #dee3fa;
  padding-bottom: 30px;
  width: 600px;
}   

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 61px;
  height: 6px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;

}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  color: tomato;
  font-size: 20px;
}

.forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  font-size: 18px;
}

.forgot-password span{
  color: rgb(122, 121, 121);
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: black;
  background: rgb(207, 125, 245);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}

.gray{
  background: #dadbdd;
  color: rgb(3, 3, 3);
}

.next{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: black;
  background: rgb(207, 125, 245);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 20px;
}


.successDialog {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.failureDialog {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: red;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}