.settings-container {
    padding: 20px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    font-size: 16px;
}

/* New styles for the button */
.save-button {
    align-self: flex-end; /* Position the button to the right */
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }