.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 500px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 400px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }



  .pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed for spacing */
  }
  
  .pageNumber button {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Button padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 0 10px; /* Margin between buttons and input */
  }
  
  .pageNumber button:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .pageNumber input {
    width: 50px; /* Width of the input field */
    text-align: center; /* Center the text inside the input */
    padding: 10px; /* Input padding */
    font-size: 16px; /* Font size */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin: 0 10px; /* Margin between buttons and input */
  }
  
  .pageNumber input:focus {
    outline: none; /* Remove default outline on focus */
    border-color: #007bff; /* Border color on focus */
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  